
	
h1{
	
	text-align: center;
	background-color: green;
}

#blocgauche {

	float:left;
	width:200px;
	height:750px;
	background-color: orange;

}

#center {

	background-color: #58B6D9;
	margin: 0 auto;
	width:1450px;
	

}

h2 {
	
	font-size:34px;
	
}

#article {


	text-align: center;
}

p {

	margin-top:-25px;
	font-size:24px;

}

#blocdroite {
	
	
	float:right;
	background-color:grey;
	width:200px;
	height:750px;
	
}